<nav class="navbar navbar-default navbar-fixed-top navbar-right" role="navigation">
	<div class="first-row-nav">
	 	<img src="/assets/globeperks.png" alt="Globeperks" class = "perkslogo navbar-left" />
	 	<form class="navbar-form navbar-left" role="search">
    	<div class="form-group">
      	<input type="text" class="form-control" placeholder="Search">
      </div>
     <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	 	</form> 
		
	 	<form class="navbar-form navbar-right" role="search">
			<button type="button" class="btn btn-sm">
				<img src ="/assets/cart.png">
			</button>		
		</form>
	</div>
	<img src="/assets/bryan.png" class= "profile" />
	<p class = "a"> Hi, Bryan </p>
	<div class ="wrap-sub_navbar">
	 	<ul class= "sub_navbar">
     
	     <li class = "color1"><a href="#"><img src = "/assets/star.png" alt = "star"/>EXCLUSIVES</a></li>
	     <li class = "color2"><a href="#"><img src = "/assets/glass.png" alt = "wineglass"/>DINING</a></li>
	     <li class = "color3"><a href="#"><img src = "/assets/plane.png" alt = "plane"/>TRAVEL</a></li>
	     <li class = "color4"><a href="#"><img src = "/assets/laptop.png" alt = "electronics"/>ELECTRONICS</a></li>
	     <li class = "color5"><a href="#"><img src = "/assets/dumbell.png" alt = "Dumbell"/>FITNESS</a></li>
	     <li class = "color6"><a href="#"><img src = "/assets/headphones.png" alt = "spa"/>SPA</a></li>
	     <li class = "color7"><a href="#"><img src = "/assets/home.png" alt = "home"/>HOME</a></li>
	     <li class = "color8"><a href="#"><img src = "/assets/shirt.png" alt = "shirt"/>APPAREL</a></li>
	     <li class = "color9"><a href="#"><img src = "/assets/phone.png" alt = "phone"/>CELLPHONES</a></li>
	 	</ul> 
	</div>
</nav>

<div class="deals">
	<div class= "row">
		<div class = "wrap">
			<h5> ------------- Our Staff Picks ------------- </h5>
			<div class = "col-md-6">
				<div class= "imgdeals">
			    <img src="/assets/ginhawa.png"/>
						<div class ="description">
							<div class ="col-md-9">
							<h1> P550 </h1><p>INDULGE IN A 60 MIN. FULL BODY MASSAGE IN A PRIVATE ROOM PLUS A 4-COURSE MEAL AT....</p>
			     		</div>
							<div class ="col-md-3">
								<button type = "button" class = "btn btn-info btn-block"> Redeem </button>
							</div>
						</div>
	 				 </div>
				 </div>
			<div class ="col-md-6">
				<img src="/assets/dominos.png" class= "imgdeals" />
			</div>
		</div>
	</div>
</div>




	



	

