
        <div class="page-wrapper">
            <!-- header-11 -->
            <header class="header-11">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#"><img src="/assets/muber-perks.png" width="50" height="50" alt=""> Muber Perks</a>
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                                <ul class="nav pull-left">
                                    
                                    <li><a href="#">THE PERKS</a></li>
                                    <li><a href="#">FOR EMPLOYERS</a></li>
                                    <li><a href="#">FOR EMPLOYEE</a></li>
                                    
                                </ul>
                                <form class="navbar-form pull-left">
                                    <a class="btn btn-info" href="#">LOG IN</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-background"></div>
            </header>
            <section class="header-11-sub bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Delighting employees with exclusive Perks</h3>
                            <p>
                                Join muber to enjoy company exclusive deals in fitness, food, travel, entertainment and much more.
                            </p>
                            <div class="signup-form">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Your E-mail">
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div>
                                            <input type="password" class="form-control" placeholder="Confirmation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="additional-links">
                                By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy</a>
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                            <div class="player">
                                <iframe src="http://player.vimeo.com/video/29568236?color=3498db" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- logos -->
								<h4 class ="offer"> Offering Perks up to %50 off. </h4>
            <section class="logos">
                <div class="container">
							
                    <div><img src="/assets/globe.png" alt="Globe" /></div>
                    <div><img src="/assets/smart.png" alt="Smart" /></div>
                    <div><img src="/assets/italianis.png"  alt="Italiannis" /></div>
                    <div><img src="/assets/gym.png"   alt="Gold's Gym" /></div>
                    <div><img src="/assets/sm.png"  alt="SM" /></div>
                    <div><img src="/assets/ayala.png"  alt="Ayala" /></div>
										
                </div>
            </section>

            <!-- price-1 -->
            <section class="logos third_row">
                <div class="container">
							
                    <div><h5>Recruitment</h5><img src="/assets/retention-white.png"/> </div>
                    <div><h5>Retention</h5><img src="/assets/retention-white.png" alt="Smart" /></div>
                    <div><h5>Happiness</h5><img src="/assets/retention-white.png"  alt="Italiannis" /></div>
                    <div><h5>Productivity</h5><img src="/assets/retention-white.png"   alt="Gold's Gym" /></div>
                    <div><h5>Customizable</h5><img src="/assets/retention-white.png"  alt="SM" /></div>
                 
										
                </div>
									<p> <center> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> </center>
            </section>
					
						<!-- testimonials  -->
						<div class="container">
							<div class ="Testimonials">
							<div class="row">
								
								<div class= "col-md-5 col-md-offset-1">
									 
									<p><i class="fa fa-quote-left fa-3x"></i>Finally, an employee benefits platform done right! Saved my HR department so much of my time.</p><div class = "pull-right"><img src="/assets/bryan.png" class="pic1">
										<table>
											<tr>
												<td>Joe Gebbia</td>
											</tr>
											<tr>
												<td>CEO Apple Inc</td>
											</tr>
										</table>
										</div>
										
									
								
									<p class = "testimonials2"><i class="fa fa-quote-left fa-3x"></i>Our staff really enjoy the corporate benefits found on Muber Perks and the team has taken away the hassle of creating our own program! </p><div class = "pull-right"><img src="/assets/bryan.png" class="pic1">
										<table>
											<tr>
												<td>Joe Gebbia</td>
											</tr>
											<tr>
												<td>CEO Apple Inc</td>
											</tr>
										</table>
										</div>
								
									<p class = "testimonials3"><i class="fa fa-quote-left fa-3x"></i>Finally, an employee benefits platform done right! Saved my HR department so much of my time. </p><div class = "pull-right"><img src="/assets/bryan.png" class="pic1">
										<table>
											<tr>
												<td>Joe Gebbia</td>
											</tr>
											<tr>
												<td>CEO Apple Inc</td>
											</tr>
										</table>
										</div>
									
									
								</div>
							
							
						
						<div class= "col-md-5 col-md-offset-1">
							<center><h4 class = "companies">Our Satisfied Companies</h4></center>
	            <section class="our_companies">
	               
							
	                    <img src="/assets/sanmiguel.png" alt="SanMiguel" class="image1"/>
	                    <img src="/assets/ayalaland.png" alt="Ayalaland"  class="image2"/>
											<img src="/assets/robinsons.png"   alt="Robinsons"  class="image3"  />
	                    <img src="/assets/nestle.png"  alt="Nestle"class="image4" />
	                    <img src="/assets/chevron.png"   alt="Chevron"  class="image5"  />
	                    <img src="/assets/meralco.png"  alt="Meralco" class="image6" />
	                    <img src="/assets/bdo.png"  alt="BDO" class="image7" />
											
							
						
					</section>
				</div>
				</div>
			</div>
		</div>


	
			<div class = "happy">
				<div class = "row">
				<h1> "A Happy Worker is a Productive Worker." </h1>
				<p> -Marilyn Tan, The Happiness Choice Consultant </p>
				</div>
			</div>
		


            <!-- content-13  -->
            <section class="content-13 subscribe-form bg-turquoise">
                <div class="container">
                    <div class="row">
                        <form>
                            <div class="col-sm-8">
                                <input type="text" placeholder="Enter your e-mail" spellcheck="false">
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-large btn-primary" type="submit">
                                    Subscribe now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- footer-2 -->
            <footer class="footer-2 bg-midnight-blue">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Company</a>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-btns pull-right">
                        <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
                        <a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                    </div>
                    <div class="additional-links">
                        Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
				
     
   