.btn-sm {
	background-color:#FCFCFC;
}

.profile {
	height: 65px;
	float: right;
	margin: auto;
}
.a{
	float: right;
	margin: auto;
}
.wrap-sub_navbar { 
	border-top: solid;
	border-color: #F2F2F6;
	display: table;   
	margin: 0 auto;
	width: 100%;
	margin-bottom: -11px;
}
.sub_navbar {
	
	list-style: none;
	padding: 7px 0 0 0;
	display: table;
	width: 100%;
	overflow: hidden;
	ul{
		margin-bottom:0px;
	}
			li {
				float:left;
				padding: 0px;
		    display: table-cell;
				margin: 0;
				width: 11.11%;
				height: 50%;
			}
			.color1{
				border-bottom: 3px solid #70C4BA;
			}	
			.color2{
				border-bottom: 3px solid #50AFAB;
			}
			.color3{
				border-bottom: 3px solid #148591;
			}
			.color4{
				border-bottom: 3px solid #148591;
			}
			.color5{
				border-bottom: 3px solid #124651;
			}
			.color6{
				border-bottom: 3px solid #124651;
			}		
			.color7{
				border-bottom: 3px solid #F2960C;
			}	
			.color8{
				border-bottom: 3px solid #F9BD4A;
			}	
			.color9{
				border-bottom: 3px solid #FEDE7A;
			}
			a {
				display: block;
				text-align: center;
				color: #7F8C8D;
				font-family: "Helvetica Neue";
				font-weight: bold;
				padding: 0;
				margin:0px 0px 4px 0px;
			}
			img {
				padding: 0;
			}
}
.line {
	padding-left: 0px;
}
.line li{
	width:100%;
	list-style: none;
	margin-top: -50px;
	margin-bottom: -15px;
	
}
.perkslogo {
	float: left !important;
	width:100px;
}

.navigation {
	float:right;
}

.cart {
	width: 10px;
}

.first-row-nav{
	padding-right:30px;
	padding-left:30px;
	margin-top:10px;
	.navbar-form{
		margin-top:4px;
		margin-bottom:0px;
	}
	
}
//Deals Form

.deals{
	padding-top: 10%;
	@media (max-width: 979px) {
	  body {
	    padding-top: 0px;
	  }
	}
}

.wrap{
	h5{
		position: relative;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-align: center;
		color: #7F8C8D;
	}
	.description{
		position:relative;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#7F8C8D;
		
		h1 {
			display: inline;
			
		}
		p {
			display: inline;
			font-size: 12px;
		}
	}
	
}
.imgdeals {
	padding-left: 45px;
	margin-top: 25px;
	margin-bottom: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	img{
		margin-bottom: 15px;
	}
}
