.btn-sm {
	background-color:#FCFCFC;
}

.profile {
	height: 65px;
	float: right;
	margin: auto;
}
.a{
	float: right;
	margin: auto;
}
.wrap-sub_navbar {
	background-color: #fff;
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	min-width: 1030px;
	position: relative;
	z-index: 2;
}
.sub_navbar {
	font-color:black;
}
.perkslogo {
	float: left !important;
	margin: auto;
	
}

.navigation {
	float:right;
}

.cart {
	width: 10px;
}